# Data Analysis I Using `pandas`

## <img src='https://az712634.vo.msecnd.net/notebooks/python_course/v1/geekcup.png' alt="Smiley face" width="42" height="42" align="left">Learning Objectives
---
* See some basic options for importing data files
* Understand how to manipulate row and column names
* Get an idea of how to deal with missing data
* Become familiar with slicing data
* Become familiar with assignment
* See how broadcasting works
* Understand more data structure manipulation (adding and removing columns)

In [ ]:
import pandas as pd
import numpy as np

### Data types in `pandas` - you will see through examples how these work
* `Series`
* `DataFrame`
* `Panel` (not covered here)

### Input from csv and excel files

In [ ]:
# Check current directory for files

# Uncomment for linux or OSX
#!ls

# Uncomment for windows
#!dir

In [ ]:
# Reading a csv file with the read_csv function

import os

data = pd.read_csv('https://raw.githubusercontent.com/ogrisel/parallel_ml_tutorial/master/notebooks/titanic_train.csv', 
                    sep = ',')

In [ ]:
# What are the dimensions
print(data.shape)

# What are the column names
print(data.columns)

# What do the first few rows look like
data.head()

To read an excel file, ensure you have the <b>`xlrd`</b> package installed (`pandas` method `read_excel` needs it).  For Windows binaries go [here](http://www.lfd.uci.edu/~gohlke/pythonlibs/).  If you have a conda install, just `conda install xlrd`.

With `pandas` and `xlrd` one can read an excel file by simply:

```python
# Reading from an excel file with read_excel
data = pd.read_excel(os.path.join('data', 'GDS4517.xls'))
```

### The idea behind `pandas`
* The most common data structure in `pandas` is the **DataFrame** much like the analogous data.frame in R.

```python
# Some toy data
a = np.arange(10)
b = np.sin(a)

# Place it into a dictionary
array_dict = {'a': a, 'b': b}

# Initialize a dataframe with toy data
df = pd.DataFrame(array_dict)
```

* `pandas` provides higher level data manipulation tools than `numpy`, but is built on top of `numpy`.  Given the richness of capabilities with `pandas`, `pandas` operations are often slower than a similar operation with a `numpy` array.  However, it is not hard to convert from one to the other.
* The basic unit of the DataFrame in `pandas` is of the `Series` type.

In [ ]:
# 2D numpy array
np_array = np.random.randint(1, 10, size = 16).reshape(4, 4)

# Convert to pd DataFrame
df = pd.DataFrame(np_array)

df

In [ ]:
# pandas DataFrame
df = pd.DataFrame(data = pd.Series(range(12)).reshape(3, 4), columns = list('abcd'))

df

In [ ]:
# Convert to ndarray (TWO ways)

# first way
df.as_matrix() # not a matrix, however, just numpy array

In [ ]:
# convert to ndarray

# Second way
df.values

Hey!  Did you notice how in the jupyter notebook the `pandas` DataFrame is rendered nicely?  That's a reason some people will convert to DataFrames in jupyter notebooks...it makes it easier to see the data.

### Renaming row and column names

Initialize a `pandas` dataframe with toy data:

In [ ]:
# Note here we are initializing a dataframe with a dict of 1D ndarrays (numpy arrays)
df = pd.DataFrame({'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})

df

Rename columns (with <b>`columns`</b> keyword) and rows (with <b>`index`</b> keyword) inplace (note: we could have specified `columns` when initializing the DataFrame):

In [ ]:
df.rename(index = {0: 'a', 
                   1: 'b',
                   2: 'c',
                   3: 'd',
                   4: 'e'}, 
          columns = {'data1': 'one', 'data2': 'two'}, inplace = True)
df

### Reordering of things

Using the toy dataframe from above, we shall now reorder the <b>rows</b>:

In [ ]:
df2 = pd.DataFrame(df, index = ['b', 'c', 'd', 'a', 'e'])
df2

In [ ]:
# How would you modify the above cell to do the same reordering,
#   but at the same time, remove one, say the one labeled 'e'

# Write your code here...

There's another way (same result, but does not modify object, `df`, inplace):

In [ ]:
# This does NOT change df

df.reindex(['b', 'c', 'd', 'a', 'e']) # compare to df2 above

In [ ]:
# How would you modify the above cell (using reindex still) 
#   to not only reorder rows, but remove one from the view, 
#   say the one labeled 'e'

# Write your code here...

A quick trick to switch around columns

In [ ]:
# Quick inplace transformation
df[['one', 'two']] = df[['two', 'one']]
df

### Introducing the `Series` object

<b>Properties of the `Series` object</b>
* alignment of data and label are intrinsic
* is a 1D array (actually just a `numpy` array with and index)
* slicing also slices the index
* can be initialized with a scalar, a dict or an ndarray (aka numpy array)
* if initialized with numpy array and an index is given, length must match data
* numpy functions can take a Series as input

<b>Examples of initializing a `Series`:</b>

In [ ]:
# With a scalar only
a = pd.Series(5)
print('a:\n', a)

# With a scalar and index
b = pd.Series(5, index = ['Z'])
print('b:\n', b)

# With a scalar and index
c = pd.Series(5, index = ['X', 'Y', 'Z'])
print('c:\n', c)

# With a dict
d = pd.Series({'A': 1, 'B': 2})
print('d:\n', d)

# dict.  if index given, labels must match, but can add more
e = pd.Series({'A': 1, 'B': 2}, index = ['A', 'B', 'C'])
print('e:\n', e)

# With an ndarray
f = pd.Series(np.random.randn(5))
print('f:\n', f)

# With an ndarray and index (lengths must match)
g = pd.Series(np.random.randn(5), index = ['M', 'N', 'O', 'P', 'Q'])
print('g:\n', g)

### Missing data

Initialize `pandas` dataframe with some <b>`Series`</b> objects:

In [ ]:
# Initialize a dataframe with a dict of pandas Series

df = pd.DataFrame({'one' : pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
    'two' : pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
    'three' : pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})

# Notice the introduction of NaNs (why did this happen?)

df

In [ ]:
# Where are the NaNs?
pd.isnull(df)

In [ ]:
# Replace NaN with a scalar
df2 = df.fillna(0)
df2

In [ ]:
# Drop any row with NA/NaN
# how = 'all' will drop only rows with ALL nan
df2 = df.dropna(how = 'any')
df2

In [ ]:
# Only look in column 'one' for NaNs and drop a row if any
df2 = df.dropna(subset = ['one'])
df2

EXERCISE 1:  
```python 
alldates = pd.date_range('09-01-2013', '09-10-2013')

s = pd.Series({'09-02-2013': 2,
               '09-03-2013': 10,
               '09-06-2013': 5,
               '09-07-2013': 1})
```

* expand to include "missing dates" in `alldates` but not `s`
* set missing dates to 0

In [ ]:
# Code up your solution here...

### Slicing

In [ ]:
# Use pandas to create a range of dates
dates = pd.date_range('19740101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns = list('ABCD'))
df

In [ ]:
# Slice out rows 2-4
df[1:4]

In [ ]:
# Slice using index range (aka labels)
df['19740102':'19740104']

In [ ]:
# Slice with names using loc
df.loc[:, ['B', 'D']] # notice lack of parentheses here!

In [ ]:
# Slice with index using iloc
df.iloc[3,] # is this a row or column?

In [ ]:
# Slice out specific rows and/or columns with iloc
df.iloc[[0, 3], [1, 2]]

In [ ]:
# Return types...

df = pd.DataFrame(np.random.randn(3, 4))

# What type is returned from loc and iloc - check here...

EXERCISE 2:  Slicing rows and columns by index<br>
Using this dataframe, 
```python
dates = pd.date_range('19740101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns = list('ABCD'))
```
Do the following:<br>
1.  Slice out the first row by index
*  Slice out the first column by index
*  Slice out the first and last row, first and last column, by index

In [ ]:
# Code up your solution here...

<b>Just like with numpy arrays, slicing `pandas` dataframes produces a <i>view</i></b>.  Remember that when you modify a view, you will also modify the original since it is not a copy.

EXERCISE 3:  Slicing and views
* Write some code here to prove that dataframe slicing produces views...(might produce a warning which is very nice of the interpreter)

In [ ]:
# Code up your solution/proof here...

### Boolean indexing
<table style="width:50%" align="left">
  <tr>
    <td><b>Operator/Method</b></td>
    <td><b>Meaning</b></td>		
  </tr>
    <tr>
    <td>`isnull`</td>
    <td>Returns a df of boolean values representing if the value is null</td>		
  </tr>
    <tr>
    <td>`isin`</td>
    <td>Returns rows where value is in a certain column</td>		
  </tr>
  <tr>
    <td>`|`</td>
    <td>or</td>		
  </tr>
  <tr>
    <td>`&`</td>
    <td>and</td>		
  </tr>
  <tr>
    <td>`~`</td>
    <td>not</td>		
  </tr>
</table>

In [ ]:
# Initialize a dataframe with a dict of pandas Series and introduce NaNs
df = pd.DataFrame({'one' : pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
    'two' : pd.Series(np.random.randn(3), index=['a', 'b', 'd']),
    'three' : pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})
df

In [ ]:
# Use criteria to filter
df[df > 0]

# Take note of where the NaNs appear

EXERCISE 4:  Replace NaNs with scalar inplace<br><br>
Using the dataframe above, replace all NaNs with a scalar using a criterion (`pd.isnull()`) and inplace (`df[*criterion*]`).

In [ ]:
# Code up your solution here...

### Assignment

In [ ]:
# Initialize a dataframe with a dict of pandas Series and introduce NaNs
df = pd.DataFrame({'one' : pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
    'two' : pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
    'three' : pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})
df

In [ ]:
# Assign a whole row
df2 = df.copy()
df2.iloc[3] = 0
df2

In [ ]:
# Assign a whole column
df2 = df.copy()
df2['one'] = 0
df2

In [ ]:
# Using a criterion to fill in missing values by assignment
df2 = df.copy()
df2[df2.isnull()] = 0
df2

EXERCISE 5:  Setting rows of an empty dataframe
<br>Using the following syntax create an empty 100x10 dataframe and assign each row to the same array of numbers
```python
pd.DataFrame(index = range(nrows), columns = range(ncols))
```

In [ ]:
# Code up your solution here...

### Broadcasting
* Broadcasting is essentially vectorizing array operations, usually arithmetic.  The term comes from the `numpy` package.  Here, it is applied to `pandas` dataframes.

In [ ]:
# Let's create a simple dataframe from a range of numbers with column names
df = pd.DataFrame(np.arange(12).reshape(4, 3), columns = ['a', 'b', 'c'])
df

<b>Scalar value broadcasting</b>

In [ ]:
# Addition
df + 100

# Try subtraction, multiplication and division on your own

<b>Array broadcasting</b>

In [ ]:
d = [1, 2, 3]

df * d

# Is the broadcast happening row-wise or column-wise?

# The array 'd' could also be numpy array or pandas series...try these

### Adding and removing columns

In [ ]:
# Our familiar pandas dataframe
df = pd.DataFrame({'one' : pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
    'two' : pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
    'three' : pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})
df

In [ ]:
# Create a new column and add it to dataframe
df['four'] = df['one'] + df['two']
df

In [ ]:
# Remove a column by label
df.drop('four', axis = 'columns')

# Check to see if df was modified (if not how would we modify it inplace?)
df

### References
[The basics from pandas documentation]: http://pandas.pydata.org/pandas-docs/version/0.16.2/basics.html
[Pandas cheatsheet from Notebook Gallery]: http://nbviewer.ipython.org/github/pybokeh/jupyter_notebooks/blob/master/pandas/PandasCheatSheet.ipynb
1. [The basics from pandas documentation]
* [Pandas cheatsheet from Notebook Gallery]

Created by a Microsoft Employee.
	
The MIT License (MIT)<br>
Copyright (c) 2016